<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=EB+Garamond:wght@500&family=Manrope:wght@200..800&family=Maven+Pro:wght@600&family=Outfit:wght@900&family=PT+Serif&display=swap" rel="stylesheet">
</head>

<div style="display: flex; flex-direction: column; height: 100vh;">
  <!-- Toolbar -->
  <mat-toolbar class="custom-toolbar">
    <mat-toolbar-row>
      <!-- Mobile Menu Button -->
      <button mat-icon-button (click)="sidenav.toggle()" class="show-on-mobile">
        <mat-icon>{{ sidenav.opened ? 'close' : 'menu'}}</mat-icon>
      </button>

      <!-- Logo and Title -->
      <a href="">
        <img src="assets/logo.png" alt="Logo" class="logo" />
      </a>
      <span class="nav-title">Anjali's Portfolio</span>

      <span class="menu-spacer"></span>

      <!-- Desktop Menu Items -->
      <div class="show-on-desktop">
        <a href="about" mat-button class="custom-menu-item">About</a>
        <a href="projects" mat-button class="custom-menu-item">Projects</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <!-- Sidenav and Content -->
  <mat-sidenav-container style="flex: 1;">
    <mat-sidenav #sidenav mode="side">
      <mat-nav-list>
        <a href="about" mat-list-item class="custom-menu-item">About</a>
        <a href="projects" mat-list-item class="custom-menu-item">Projects</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
