<app-header />

<div style="padding: 5vh; text-align: center;">
    <h1>Hi, I am Anjali</h1>
    <p>An Aspiring Software Engineer</p>
    <p>
        Feel free to explore my portfolio to see some of my projects<br>
        I've been working on and connect with me if you'd like to collaborate<br>
        or chat about technology and software engineering.
    </p>
    <a href="https://drive.google.com/file/d/1yi3MsyFcrPfVnTSYOpMlHI3zAuRHIO52/preview" target="_blank">
        <button>Resume</button>
    </a>
</div>

<app-footer />