<app-header />

<div style="text-align: center; padding-bottom: 12vh; padding-left: 10vh; padding-right: 10vh;">

    <h1>This is my Projects section</h1>
    <p>Welcome to my projects section! Here, you’ll find a collection of my work across various fields,<br>
      showcasing my skills in web development, programming languages, and frameworks.</p><br>

    <mat-card class="project-card" appearance="outlined">
        <mat-card-header>
          <mat-card-title style="padding-bottom: 10px;">Project #1</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            A fun game I made using Java where the Dino has to collect falling apples.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a href="https://github.com/PatidarAnjali/Dino-Game" target="_blank">
            <button mat-button>View</button>
          </a>
        </mat-card-actions>
      </mat-card>
</div>

<app-footer />